* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.2em;
}

body, button {
    font-family: 'Grandstander', cursive;
}

section {
    text-align: center;
}

button {
    cursor: pointer;
    padding: 0.8em 1.2em;
    font-size: 0.8em;
    font-weight: 700;
}

/*---- Navigation ----*/
.nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.logo {
    align-self: center;
    padding: 1em 1.2em;
}

.navbar {
    display: flex;
    list-style: none;
    background-color: lightblue;
    justify-content: flex-end;
}

.navbar__item {
    padding: 1em 1.2em; 
}

.navbar__item:hover,
.navbar__item:focus {
    cursor: pointer;
    background-color: lightcoral;
}

/*---- Timer-Anzeige ----*/

/* Button über der Anzeige */
.btn--above {
   background-color: lightsalmon;
   border-radius: 5px;
   border: 1px solid salmon; 
}

.btn--above:hover,
.btn--above:focus {
    background-color: lightseagreen;
    border-color: seagreen;
    color: white;
}

/* Button unter der Anzeige */
.btn--below {
    background-color: lightskyblue;
    border: 1px solid blue;
    border-radius: 10px;
}

.btn--below:hover,
.btn--below:focus {
    background-color: blue;
    color: white;
}

/* Anzeige Uhr */
.display {
    font-size: 5em;
    padding-top: 15px;
}

#timer__section {
    margin-bottom: 2em;
}

/* Aufgaben */
#task__section {
    background-color: yellow;
    text-align: center;
}

.new-task {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#new-task__content {
    padding: 0.5em 0.8em;
    font-family: inherit;
    margin-left: 1em;
    outline: none;
    border-radius: 10px;
}

#new-task__content:hover,
#new-task__content:focus {
    border-color: yellow;
}

#add-task {
    margin-left: 4em;
}

#tasks,
#current-task__heading {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-tasks-item {
    padding: 1em;
    padding-right: 1.3em;
    border-radius: 10px;
    background-color: lightskyblue;
    width: 400px;
    margin-top: 1em;
    position: relative;
}

.task--delete {
    font-weight: 800;
    position: absolute;
    right: 1%;
    cursor: pointer;
    top: 32%;
    font-size: 1.5em;
}

.task--delete:hover,
.task--delete:focus {
    color: red;
}