* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.2em;
    background-color: #b8b8ff;
}

body, button {
    font-family: 'Grandstander', cursive;
}

section {
    text-align: center;
}

button {
    cursor: pointer;
    padding: 0.8em 1.2em;
    font-size: 0.8em;
    font-weight: 700;
}

button:hover,
button:focus {
    color: #f8f7ff;
}

textarea {
    color: #f8f7ff;
    color: black;
}

/*---- Navigation ----*/
.nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.logo {
    align-self: center;
    padding: 1em 1.2em;
}

.navbar {
    display: flex;
    list-style: none;
    background-color: #ffd8be;
    justify-content: flex-end;
}

.navbar__item {
    padding: 1em 1.2em; 
}

.navbar__item:hover,
.navbar__item:focus {
    cursor: pointer;
    background-color: lightcoral;
}

/*---- Timer-Anzeige ----*/

/* Button über der Anzeige */
.btn--above {
   background-color: #f8f7ff;
   border-radius: 5px;
   border: 1px solid #f8f7ff;
   color: black; 
}

.btn--above:hover,
.btn--above:focus {
    background-color: #ffeedd;
    color: black;
}

/* Button unter der Anzeige */
.btn--below {
    background-color: #9381ff;
    border: 1px solid 9381ff;
    border-radius: 10px;
}

/* Anzeige Uhr */
.display {
    font-size: 5em;
    padding-top: 15px;
}

#timer__section {
    margin-bottom: 2em;
}

/* Aufgaben */
#task__section {
    text-align: center;
}

.new-task {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#task__content {
    padding: 0.5em 0.8em;
    font-family: inherit;
    margin-left: 1em;
    outline: none;
    border-radius: 10px;
}

#add-task-btn {
    margin-left: 4em;
    border-radius: 10px;
    outline: none;
    background-color: #9381ff;
}

#tasks,
#current-task {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#current-task {
    margin-top: 10px;
}

.new-tasks-item {
    padding: 1em;
    padding-right: 1.3em;
    border-radius: 10px;
    background-color: #ffeedd;
    width: 400px;
    margin-top: 1em;
    position: relative;
}

.task--content {
    padding-top: 1em;
}

.task--delete {
    position: absolute;
    top: 15%;
    right: 1%;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 800;
}

.task--delete:hover,
.task--delete:focus {
    color: red;
}